.housing_card {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  height: 15.9375rem;
  border-radius: $radius-medium;
  cursor: pointer;
  &:hover {
    box-shadow: 2px 5px 16px 0px rgba(66, 41, 41, 0.4);
  }
  & h2 {
    position: absolute;
    z-index: 1000;
    font-size: 1.125rem;
    font-weight: 500;
    color: white;
    width: 100%;
    padding: 1.25rem;
  }
  & .gradient_layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: $radius-medium;
  }
  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: $radius-medium;
  }
}

@media screen and (min-width: 1200px) {
  .housing_card {
    height: 21.25rem;
  }
}
