.carousel {
  position: relative;
  margin-top: 1.25rem;
  display: block;
  width: 100%;
  height: 15.9375rem;
  border-radius: $radius-medium;
  background-color: $primary-color;
  margin-bottom: .9375rem;
  user-select: none;

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: $radius-medium;
  }
}

@media screen and (min-width: 1200px) {
  .carousel {
    height: 25.9375rem;
    margin-bottom: 1.875rem;
  }
}

// ----- CONTROLS ----- //
.controls {
  position: absolute;
  padding: 0 .375rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .button {
    height: 1.25rem;
    width: .75rem;
    border: none;
    background: none;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

    &__prev {
      background-image: url('../../assets/arrowLeft.png');
    }

    &__next {
      background-image: url('../../assets/arrowRight.png');
    }
  }

  &__counter {
    display: none;
    color: white;
    align-self: flex-end;
    padding-bottom: 1.5625rem;
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 768px) {
  .controls {
    padding: 0 .75rem;

    & .button {
      height: 2.5rem;
      width: 1.5rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .controls {
    padding: 0 1.5rem;

    & .button {
      height: 5rem;
      width: 3rem;
    }

    &__counter {
      display: block;
    }
  }
}