.dropdown {
  color: white;
  border-radius: $radius-small;
  cursor: pointer;
  & summary {
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    height: 30px;
    border-radius: $radius-small;
    font-size: 13px;
    & img {
      height: 10px;
      transform: rotate(180deg);
    }
  }
  &__content {
    font-size: 12px;
    margin: 0;
    padding: 18px 12px;
    background-color: $light-grey;
    color: $primary-color;
    border-radius: 0 0 $radius-small $radius-small;
    list-style-type: none;
    & li {
      margin-bottom: 5px;
    }
  }
}

.dropdown[open] summary img {
  transform: rotate(0deg);
}

@media screen and (min-width: 1200px) {
  .dropdown {
    border-radius: $radius-medium;
    & summary {
      height: 52px;
      font-size: 18px;
      border-radius: $radius-medium;
      & img {
        height: 15px;
      }
    }
    &__content {
      border-radius: 0 0 $radius-medium $radius-medium;
      padding: 30px 20px;
      font-size: 18px;
    }
  }
}
