.dropdown {
  color: white;
  border-radius: $radius-small;
  cursor: pointer;
  & summary {
    padding: .375rem .75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    height: 1.875rem;
    border-radius: $radius-small;
    font-size: .8125rem;
    & img {
      height: .625rem;
      transform: rotate(180deg);
    }
  }
  &__content {
    font-size: .75rem;
    margin: 0;
    padding: 1.125rem .75rem;
    background-color: $light-grey;
    color: $primary-color;
    border-radius: 0 0 $radius-small $radius-small;
    list-style-type: none;
    & li {
      margin-bottom: .3125rem;
    }
  }
}

.dropdown[open] summary img {
  transform: rotate(0deg);
}

@media screen and (min-width: 1200px) {
  .dropdown {
    border-radius: $radius-medium;
    & summary {
      height: 3.25rem;
      font-size: 1.125rem;
      border-radius: $radius-medium;
      & img {
        height: .9375rem;
      }
    }
    &__content {
      border-radius: 0 0 $radius-medium $radius-medium;
      padding: 1.875rem 1.25rem;
      font-size: 1.125rem;
    }
  }
}
