.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & img {
    height: 2.6875rem;
  }
  & nav {
    display: flex;
    gap: .625rem;
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .75rem;
    color: $primary-color;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 4.25rem;
    & nav {
      gap: 3.5625rem;
    }
    &__link {
      font-size: 1.125rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &__link {
      font-size: 1.5rem;
      text-transform: inherit;
    }
    & img {
      height: 3.875rem;
    }
  }
}
