.owner {
  display: flex;
  align-items: center;
  text-align: right;
  gap: 10px;
  & h3 {
    font-size: 12px;
    font-weight: 500;
  }
  & img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }
}

@media screen and (min-width: 768px) {
  .owner {
    gap: 10px;
    & h3 {
      font-size: 14px;
    }
    & img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }  
}

@media screen and (min-width: 1200px) {
  .owner {
    & h3 {
      font-size: 18px;
    }
    & img {
      height: 64px;
      width: 64px;
    }
  }
}
