.rating {
  display: flex;
  gap: .3125rem;
  & .star {
    height: .9375rem;
    width: .9375rem;
  }
}

@media screen and (min-width: 768px) {
  .rating {
    gap: .4375rem;
    & .star {
      height: 1.375rem;
      width: 1.375rem;
    }
  }  
}

@media screen and (min-width: 1200px) {
  .rating {
    gap: .625rem;
    & .star {
      height: 1.875rem;
      width: 1.875rem;
    }
  }  
}