.summary {
  color: $primary-color;
  &__heading {
    font-size: 1.125rem;
    font-weight: 500;
  }
  &__location {
    margin-top: .3125rem;
    font-size: .875rem;
  }
}

@media screen and (min-width: 1200px) {
  .summary {
    width: 70%;
    &__heading {
      font-size: 2.25rem;
    }
    &__location {
      font-size: 1.125rem;
    }
  }
}  