.tags {
  margin-top: .625rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: .3125rem;
  column-gap: .625rem;
  & .tag {
    display: flex;
    align-items: center;
    font-size: .625rem;
    color: white;
    height: 1.125rem;
    padding: 0 1.5rem;
    border-radius: $radius-small;
    background-color: $primary-color;
  }
}

@media screen and (min-width: 1200px) {
  .tags {
    margin-top: 1.25rem;
    & .tag {
      font-size: .875rem;
      height: 1.5625rem;
      padding: 0 2.1875rem;
      border-radius: $radius-medium;
    }
  }
}

