.about__dropdowns {
  min-height: 500px;
  max-width: 1024px;
  margin : 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1200px) {
  .about__dropdowns {
    margin-top: 32px;
  }
}